.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #660066;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: white;
  text-decoration: none;
  font-family: Century;
}

.distill-site-nav a:hover {
  color: pink;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

/*title*/
h1 {font-family: Monotype Corsiva; 
    font-size: 50pt; 
    line-height: 1em;
}


<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="image/ico" href="favicon.ico">
</head>
</html>
